{% extends 'temp/dr_hme.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<h2>Medical-Records</h2>
		<form method="post" enctype="multipart/form-data">
            {% csrf_token %}
			<table>
			<tr>
				<td>Appoinment id :</td>
				<td><select name="ap" required>
                <option  disabled selected>SELECT</option>
                    {% for i in z %}
                        <option value="{{ i.appot_id }}">{{ i.appot_id }}</option>
                    {% endfor %}
                </select> </td>
			</tr>
			<tr>
                <td>Report :</td>
				<td><input type="file" name="report" required></td>
			</tr>
			</table>
        <br>
        <button class="btn btn-outline-primary"><a href="/temp/doctor/">Go back</a> </button>
        <button class="btn btn-primary">submit </button>


        </form>
    </center>
</body>
</html>
{% endblock %}