{% extends 'temp/admn_hme.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<center>
<h2>Complaints</h2>
<table border="1" align="center" class="table table-striped table-bordered">
	<tr>
		<th>Name</th>
		<th>Complaint</th>
		<th>Ḍate</th>
		<th>Time</th>
        <th>Reply</th>
		<th></th>
	</tr>
    {% for i in x %}
	<tr>

		<td> {{ i.user.name }}</td>
		<td> {{ i.complaint }}</td>
		<td> {{ i.time }}</td>
		<td> {{ i.date }}</td>
        <td>{{ i.replay }}</td>
		<td><a href="/complaint/reply/{{ i.comp_id }}">Reply</a></td>
	</tr>
    {% endfor %}
</table>
<button class="btn btn-outline-primary"><a href="/temp/admin/">Go back</a> </button>
</center>
</body>
</html>
{% endblock %}