{% extends 'temp/dr_hme.html' %}
{% block base %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<center>
<h2>Patients</h2>
<table border="1" align="center" class="table table-striped table-bordered">
		<tr>
			<th>Name</th>
			<th>age</th>
			<th>address</th>
			<th>gender</th>
			<th>phone_No</th>
			
		</tr>
    {% for i in x %}
		<tr>
			<td>{{ i.name }}</td>
			<td>{{ i.age }}</td>
			<td>{{ i.address }}</td>
			<td>{{ i.gender }}</td>
			<td>{{ i.phone_no }}</td>
		</tr>
    {% endfor %}
</table>
<button class="btn btn-outline-primary"><a href="/temp/doctor/">Go back</a> </button>

</center>

</body>
</html>
{% endblock %}